/* 捲軸寬度及高度 */
::-webkit-scrollbar {
    width: 30px; /*右側捲軸寬度*/
    height: 30px; /*下方捲軸高度*/
    border-radius: 12px;
    background-color: rgb(255, 216, 169);
  }
  /* 軌道背景底色 */
  ::-webkit-scrollbar-track {
    background: rgb(253, 238, 220); 
    /* border-radius: 12px; */
  }
   
  /* 滑桿顏色 */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 216, 169);
    /* border-radius: 12px; */
  }
  /* 滑桿滑鼠滑入時的顏色 */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(241, 166, 97); 
  }
  /* 捲軸兩側頂端的按鈕 */
  ::-webkit-scrollbar-button {
    background-color: rgb(255, 216, 169); 
    border-radius: 12px;
  }
  /* 捲軸兩側頂端的按鈕滑鼠滑入時的顏色 */
  ::-webkit-scrollbar-button:hover {
    background-color: rgb(241, 166, 97); 
    border-radius: 12px;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-size: cover;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(255, 208, 155);
    margin: 0;
    padding: 0;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(227, 139, 41);
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(226, 124, 7);
}

nav ul li img {
    color: white;
    padding: 7px 0px;
    text-decoration: none;
    display: block;
}

.mainBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
}

.up {
    width: 100%;
    background-color: rgb(253, 255, 188);
    text-align: center;
    padding: 20px;
    margin-top: 55px;
    box-sizing: border-box;
}

.down {
    width: 100%;
    background-color: rgb(241, 166, 97);
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
}

.category {
    width: 300px;
    height: 500px;
    background-color: rgb(255, 210, 90);
    text-align: center;
    margin: 1rem auto 1rem;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 70px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}

h6 {
    font-size: 20px;
}

.footer {
    bottom: 0;
    left: 0;
    /* width: 100%; */
    background-color: rgb(227, 139, 41);
    padding: 5px;
    text-align: center;
    margin: 0;
    color: rgb(0, 0, 0);
}

#dialog1, #dialog2, #dialog3, #dialog4, #dialog5, #dialog6, #dialog7, #dialog8 {
    color: rgb(0, 0, 0);
    font-size: large;
    background-color: rgb(255, 160, 70);
    width: 300px;
    max-height: 600px;
    border-radius: 12px;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8 {
    background-color: rgb(255, 210, 90);
    border: none;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn7:hover, #btn8:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 193, 21, 0.8);
}

#btnClose1, #btnClose2, #btnClose3, #btnClose4, #btnClose5, #btnClose6, #btnClose7, #btnClose8 {
    background-color: rgb(253, 255, 188); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

