/* 捲軸寬度及高度 */
::-webkit-scrollbar {
  width: 30px; /*右側捲軸寬度*/
  height: 30px; /*下方捲軸高度*/
  border-radius: 12px;
  background-color: rgb(255, 216, 169);
}
/* 軌道背景底色 */
::-webkit-scrollbar-track {
  background: rgb(253, 238, 220); 
  /* border-radius: 12px; */
}
 
/* 滑桿顏色 */
::-webkit-scrollbar-thumb {
  background: rgb(255, 216, 169);
  /* border-radius: 12px; */
}
/* 滑桿滑鼠滑入時的顏色 */
::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 166, 97); 
}
/* 捲軸兩側頂端的按鈕 */
::-webkit-scrollbar-button {
  background-color: rgb(255, 216, 169); 
  border-radius: 12px;
}
/* 捲軸兩側頂端的按鈕滑鼠滑入時的顏色 */
::-webkit-scrollbar-button:hover {
  background-color: rgb(241, 166, 97); 
  border-radius: 12px;
}

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-size: cover;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(255, 208, 155);
    margin: 0;
    padding: 0;
    background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(227, 139, 41);
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(226, 124, 7);
}

nav ul li img {
    color: white;
    padding: 7px 0px;
    text-decoration: none;
    display: block;
}

.mainBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
}

.up {
    width: 100%;
    background-color: rgb(253, 255, 188);
    text-align: center;
    padding: 20px;
    margin-top: 55px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(241, 166, 97);
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}

.left {
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), 
  url(../台北.jpg); /* 替換為台中.jpg 和 高雄.jpg 在其他 class */

  /* 讓背景圖片填滿元素並居中 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.middle {
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), 
  url(../台中.jpg); /* 替換為台中.jpg 和 高雄.jpg 在其他 class */

  /* 讓背景圖片填滿元素並居中 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), 
  url(../高雄.jpg); /* 替換為台中.jpg 和 高雄.jpg 在其他 class */

  /* 讓背景圖片填滿元素並居中 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.left, .middle, .right {
    flex: 1;
    margin: 0 10px;
    /* background-color: rgb(253, 238, 220); */
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 40%; */
}

.left:hover, .middle:hover, .right:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

#contentHeader1, #contentHeader2, #contentHeader3 {
    font-size: 50px;
    color: rgb(253, 72, 0);
    position: relative; /* Fixed position - sit on top of the page */
    transition: 0.4s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

hr.contentHr {
  border: 5px solid rgb(227, 139, 41);
}

/* CSS: 設定按鈕的樣式 */
.goTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  background-color: rgb(253, 218, 101);
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.footer {
    bottom: 0;
    left: 0;
    /* width: 100%; */
    background-color: rgb(227, 139, 41);
    padding: 5px;
    text-align: center;
    margin: 0;
    color: rgb(0, 0, 0);
}
